#running {
  margin: 0;
  position: relative;
  background-position: 0 0;
  animation: 3s infinite animate;
  animation-fill-mode: backwards;
}

#image {
  width: 180px;
  height: 180px;
  position: absolute;
}

@keyframes animate {
  0%, 100% {
    margin-left: -400px
  }
  10%, 90% {
    margin-left: 0px
  }
}
